<!-- <div class="metric-grid metric-grid--enter">
  @for (i of [0,1,2,3,4,5]; track i) {
    <div class="metric-slot">
      <app-metric-panel class="block w-full h-full" (pointerenter)="hoverSound.play()" (click)="navigate()">
        <audio #hoverSound src="sounds/clink.ogg" preload="auto"></audio>
        <div class="mt-3 space-y-2">
          <div class="h-3 rounded bg-white/10 animate-pulse"></div>
          <div class="h-3 rounded bg-white/10 animate-pulse w-5/6"></div>
          <div class="h-3 rounded bg-white/10 animate-pulse w-2/3"></div>
          <div class="h-20 rounded bg-white/10 animate-pulse"></div>
        </div>
      </app-metric-panel>
    </div>
  }
</div> -->

<div class="metric-grid metric-grid--enter bg-amber-400">
  @for (i of [0,1,2,3,4,5]; track i) {
    <div class="metric-slot">
      <app-metric-panel
        class="block w-full"
        (pointerenter)="hoverSound.play()"
        (click)="navigate()"
      >
        <audio #hoverSound src="sounds/clink.ogg" preload="auto"></audio>

        <div class="mt-3 space-y-2">
          <div class="h-3 rounded bg-white/10 animate-pulse"></div>
          <div class="h-3 rounded bg-white/10 animate-pulse w-5/6"></div>
          <div class="h-3 rounded bg-white/10 animate-pulse w-2/3"></div>
          <div class="h-20 rounded bg-white/10 animate-pulse"></div>
        </div>
      </app-metric-panel>
    </div>
  }
</div>