:host {
  display: block;
  width: 100%;
}

.card-body {
  position: relative;
  z-index: 1;
  padding-top: 35px;
}

.metric-panel {
    position: relative;
    overflow : hidden;

    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(8px);

    border-radius: 8%;
    border-style: solid;
    border-color: rgba(255,255,255,0.12);
    border-width: 1px 2px 2px 1px;
}

.metric-panel::before {
  z-index: 0;
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background:
    linear-gradient(
      to bottom,
      rgba(255,255,255,0.14),
      rgba(255,255,255,0.04) 30%,
      rgba(255,255,255,0.01)
    );

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.metric-panel:hover::before {
  opacity: 1;
}

/* Hover feel */
.metric-panel:hover {
  cursor: pointer;
  border-color: rgba(255,255,255,0.22);

  transform: translate(1px, 2px);
}

/* Glint layer (idle) */
.metric-panel::after {
  z-index: 0;
  content: '';
  position: absolute;
  top: -50%;
  left: -120%;
  width: 200%;
  height: 200%;

  background-image: linear-gradient(
    125deg,
    rgba(255,255,255,0) 30%,
    rgba(255, 242, 242, 0.137) 50%,
    rgba(255,255,255,0) 52%
  );

  filter: blur(2px);
  pointer-events: none;
  opacity: 0;
}

/* Glint activation */
.metric-panel:hover::after {
  opacity: 1;
  animation: glint 0.5s ease-out forwards;
}

.metric-title {
  position: absolute;
  top: 10px;
  left: 12px;
  z-index: 2;

  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.85;

  pointer-events: none; /* title won't steal clicks/hover */
  user-select: none;
}

/* Glint sweep */
@keyframes glint {
  from { left: -120%; }
  to   { left: 120%; }
}