.metric-panel {
    position: relative; /* might remove */
    margin-top: 3rem;
    overflow : hidden;

    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);

    border-radius: 8%;
    border-style: solid;
    border-color: rgba(255,255,255,0.12);
    border-width: 1px 2px 2px 1px;

    box-shadow:
    8px 8px 18px rgba(8,7,16,0.75),
    20px 28px 70px rgba(8,7,16,0.55);
}

.metric-panel::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background:
    linear-gradient(
      to bottom,
      rgba(255,255,255,0.14),
      rgba(255,255,255,0.04) 30%,
      rgba(255,255,255,0.01)
    );

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.metric-panel:hover::before {
  opacity: 1;
}

/* Hover feel */
.metric-panel:hover {
  cursor: pointer;
  border-color: rgba(255,255,255,0.22);
  box-shadow:
    inset 0 0 0 1px rgba(255,255,255,0.06),
    6px 6px 14px rgba(8,7,16,0.85),
    12px 18px 36px rgba(8,7,16,0.65);

  transform: translate(1px, 2px);
}

/* Glint layer (idle) */
.metric-panel::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -120%;
  width: 200%;
  height: 200%;

  background-image: linear-gradient(
    125deg,
    rgba(255,255,255,0) 30%,
    rgba(255, 242, 242, 0.137) 50%,
    rgba(255,255,255,0) 52%
  );

  filter: blur(2px);
  pointer-events: none;
  opacity: 0;
}

/* Glint activation */
.metric-panel:hover::after {
  opacity: 1;
  animation: glint 0.5s ease-out forwards;
}

/* Glint sweep */
@keyframes glint {
  from { left: -120%; }
  to   { left: 120%; }
}