<header class="p-3 w-full fixed top-0 z-50
               bg-base-300/60
               backdrop-blur-md
               border-b border-white/10">
    <div class="flex align-middle items-center px-10 mx-auto gap-6">
        <a href="/" class="flex items-center gap-3 max-h-16 text-white border-r-white border-r-2 pr-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 15.75-2.489-2.489m0 0a3.375 3.375 0 1 0-4.773-4.773 3.375 3.375 0 0 0 4.774 4.774ZM21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>

            <h3 class="text-2xl font-semibold text-white uppercase">Deck Lens</h3>
        </a>
        <nav class="flex gap-3 my-2 uppercase text-lg text-white">
            <a>How To</a>
            <a>About Us</a>
            <a>Contact Us</a>
        </nav>
    </div>
</header>
